/* GENERAL */

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.menu1,.menu2
{
    font-family: "crete round" sans-serif;
    font-size: 20px;
}
h1
{
    text-align: center;
    font-family: "crete round";
    width: 400px;
    margin: 50px auto 50px auto;
    border-bottom: 3px solid ;
}

/* HAEDER barre navig */

header #navig
{
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(214, 177, 13);
    box-shadow: 0px 0px 20px rgb(240, 15, 7);
    

}
header #navig 
{
    display: flex;
    justify-content: center;
    font-family: 'crete round';
    align-items: center;
}
header #navig .menu1 ul
{
    width: 600px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header #navig .menu2 ul
{
    width: 600px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header #navig .menu1 ul a
{
 color: green;
 text-decoration: none;
    
}
header #navig .menu2 ul a
{
   color: red;
   text-decoration: none;
}
header #navig .menu1 ul a:hover
{
    color: red;
}
header #navig .menu2 ul a:hover
{
    color: green;
}

/* SECTION PROGRAMME */

#programme 
{ 
    display: flex;
    justify-content: space-around;
    
   
}
#programme .first 
{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 8px rgb(14, 14, 13);
    padding: 10px;

}
#programme .first .champions1 i
{
    font-size: 50px;
    color: orange;
    margin: 50px 0 20px 0;
}
#programme .first .champions1 h2
{
    
    margin-bottom: 20px;
    color: red;
}
#programme .first .rencontre
{
    display: flex;
    justify-content: center;
        
}
#programme .first .rencontre h3
{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
   
#programme .second
{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 350px;
   box-shadow: 1px 1px 8px rgb(20, 20, 19);
   padding: 10px;

}
#programme .second .champions2 i
{
    font-size: 50px;
    color: orange;
    margin: 50px 0 20px 0;
}
#programme .second .champions2 h2
{
    
    margin-bottom: 20px;
    color: red;
}
#programme .second .rencontre
{
    display: flex;
    justify-content: center;
}
#programme .second .rencontre h3
{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION ACTU */

#actu
{
    width: 100%;
    height: 50vh;
    background-color: ;
    flex-direction: column;
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    
    
}
#actu h2
{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border-bottom: black;
    margin-bottom: 50px;
    text-decoration: underline;
    text-transform: uppercase;

}
#actu .medias
{
    display: flex;
    justify-content: center;
    font-family: "crete round";
    
}
#actu .article
{
    width: 500px;
    height: 250px;
    background-image: url(article.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
#actu .article a
{
    text-decoration: none;
}
.button-1
{
    width: 150px;
    height: 30px;
    color: red;
    padding: 6px 20px;
    background-color: green;
    font-size: 20px;
    border-radius: 3px;
    margin: 0 auto;
    line-height: 20px;
    text-align: center;
}
footer
{
    width: 100%;
    height: 200px;
    background-color: green;
}
#contact 
{
    width: 100%;
   

}
#contact .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact .wrapper h3
{
    margin: 10px 0;
}

#contact .wrapper form
{
    margin:10px 0 ;
}
#contact .reseaux
{

    display: flex;
    justify-content: space-around;
    
}
#contact .reseaux i
{
    font-size: 50px;
    color: yellow;
}
#contact .reseaux i:hover
{
    color: red;
    transition: all 0.5s;
    transform: rotate(0.1turn);
}



@media(max-width:1024px){

}
@media(max-width:650px){
    
}