/* GENERAL */

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.menu1,.menu2
{
    font-family: "crete round" sans-serif;
    font-size: 20px;
}
h1
{
    text-align: center;
    font-family: "crete round";
    width: 400px;
    margin: 50px auto 20px auto;
    border-bottom: 3px solid ;
}

/* HAEDER barre navig */

header #navig
{
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(214, 177, 13);
    box-shadow: 0px 0px 20px rgb(240, 15, 7);
    

}
header #navig 
{
    display: flex;
    justify-content: center;
    font-family: 'crete round';
    align-items: center;
}
header #navig .menu1 ul
{
    width: 600px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header #navig .menu2 ul
{
    width: 600px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header #navig .menu1 ul a
{
 color: green;
 text-decoration: none;
    
}
header #navig .menu2 ul a
{
   color: red;
   text-decoration: none;
}
header #navig .menu1 ul a:hover
{
    color: red;
}
header #navig .menu2 ul a:hover
{
    color: green;
}

/* SECTION PROGRAMME */

#programme 
{ 
    display: flex;
    justify-content: space-around;
   
}
#programme .first 
{
    width: 690px;
    text-align: center;

}
#programme .first .champions1 i
{
    font-size: 50px;
    color: orange;
    margin: 50px 0 20px 0;
}
#programme .first .champions1 h2
{
    
    margin-bottom: 20px;
    color: red;
}
#programme .first .rencontre
{
    display: flex;
    justify-content: center;
}
#programme .first .rencontre h3
{
    margin: 45px;
}
#programme .second
{
    
    text-align: center;

}
#programme .second .champions2 i
{
    font-size: 50px;
    color: orange;
    margin: 50px 0 20px 0;
}
#programme .second .champions2 h2
{
    
    margin-bottom: 20px;
    color: red;
}
#programme .second .rencontre
{
    display: flex;
    justify-content: center;
}
#programme .second .rencontre h3
{
    margin: 45px;
}

