/* GENERAL */

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.menu1,.menu2
{
    font-family: "crete round" sans-serif;
    font-size: 20px;
}

/* HAEDER barre navig */

header #navig
{
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(214, 177, 13);
    box-shadow: 0px 0px 20px rgb(240, 15, 7);
    

}
header #navig 
{
    display: flex;
    justify-content: center;
    font-family: 'crete round';
    align-items: center;
}
header #navig .menu1 ul
{
    width: 600px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header #navig .menu2 ul
{
    width: 600px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header #navig .menu1 ul a
{
 color: green;
 text-decoration: none;
    
}
header #navig .menu2 ul a
{
   color: red;
   text-decoration: none;
}
header #navig .menu1 ul a:hover
{
    color: red;
}
header #navig .menu2 ul a:hover
{
    color: green;
}

/* SECTION PROGRAMME */

#programme 
{
    display: flex;
}
#programme .first .





